* {
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}

.main--container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto 1fr;
  background-image: url("../src/images/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
}

.header {
  grid-row: 1;
  display: flex;
  justify-content: center;
}

.header .header--icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 4rem;
  height: 6rem;
  border: solid red 1px;
}

.header .header--icon .header--icon--image {
  width: 2rem;
  height: 2rem;
  margin: 1rem;
  background-color: black;
}

.header .header--icon .header--icon--triangle {
  width: 0;
  height: 0;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-bottom: 1rem solid #ffffff;
  transition: 0.3s;
}

.header .header--icon .header--icon--triangle__none {
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-bottom: 0rem solid #ffffff;
  transition: 0.3s;
}

.section {
  grid-row: 2;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.section .section--home {
  width: 100%;
  height: 26rem;
  text-align: center;
  transition: 0.3s;
}

.section .section--home .section--home--container {
  display: flex;
  flex-direction: column;
}

.section .section--home .section--home--container .section--home--header {
  margin: 2rem;
}

.section .section--home .section--home--container .section--home--header .section--home--header__heading {
  font-size: 1.5rem;
  margin: 0 0 0.5rem 0;
}

.section .section--home .section--home--container .section--image {
  width: 100%;
  height: 20rem;
  overflow: hidden;
  position: relative;
}

.section .section--home .section--home--container .section--image .section--home--image {
  width: 100%;
  height: auto;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.section .section--work {
  width: 100%;
  padding: 1rem;
}

.section .section--work .section--work__image--container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
  gap: 1rem;
}

.section .section--work .section--work__image--container .section--work__image--item {
  width: 100%;
  height: auto;
}

.section .section--header {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
}

.section .section--header h2 {
  margin: 0 0 1rem 0;
}

.section .section--header p {
  margin: 0 0 2rem 0;
}

.section .section--contact {
  width: 100%;
  height: auto;
  padding: 1rem;
}

.section .section--contact .section--contact--form {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto;
  gap: 1rem;
}

.section .section--contact .section--contact--form .section--contact--form--item1 {
  width: 100%;
}

.section .section--contact .section--contact--form .section--contact--form--item2 {
  width: 100%;
}

.section .section--contact .section--contact--form .section--contact--form--button {
  width: 100%;
}

.section .section--contact .section--contact--form input, .section .section--contact .section--contact--form textarea, .section .section--contact .section--contact--form button {
  width: 100%;
  font-size: 0.8rem;
  font-weight: 100;
  border: none;
  line-height: 1.5rem;
  padding: 0.625rem;
  background-color: #f2f2f2;
}

.section .section--contact .section--contact--form button {
  background-color: #222222;
  color: #ffffff;
  transition: 0.2s;
}

.section .section--contact .section--contact--form button:hover {
  background-color: #111111;
  color: #ffffff;
  transition: 0.2s;
}

.red {
  overflow: hidden;
  animation: aaa 0.3s forwards linear;
}

@keyframes aaa {
  0% {
    height: 100%;
    opacity: 1;
  }
  100% {
    height: 0%;
    opacity: 0;
  }
}

.blue {
  overflow: hidden;
  animation: bbb 0.4s forwards;
}

@keyframes bbb {
  0% {
    height: 0%;
    opacity: 0;
  }
  100% {
    height: 100%;
    opacity: 1;
  }
}

.paragraph {
  color: #656565;
}

.footer {
  grid-row: 3;
  display: flex;
  width: 100%;
  justify-content: center;
  height: auto;
  padding: 2rem;
}

.footer .footer--paragraph {
  font-size: 0.625rem;
}

@media screen and (max-width: 360px) {
  .header {
    min-width: 320px;
  }
  .section {
    min-width: 320px;
  }
  .footer {
    min-width: 320px;
  }
}

@media screen and (min-width: 361px) {
  .section {
    margin: 0 1rem 0 1rem;
  }
}

@media screen and (min-width: 737px) {
  * {
    font-size: 20px;
  }
  .section {
    margin: 0 3rem 0 3rem;
  }
  .section .section--home {
    height: auto;
  }
  .section .section--home .section--home--container .section--home--header {
    margin: 3rem;
  }
  .section .section--home .section--home--container .section--home--header .section--home--header__heading {
    font-size: 2rem;
  }
  .section .section--home .section--home--container .section--image {
    height: 24rem;
  }
  .section .section--header h2 {
    font-size: 1.5rem;
    margin: 2rem 0 1.5rem 0;
  }
  .section .section--header p {
    line-height: 1.5rem;
    margin: 0 0 2rem 0;
  }
  .section .section--work {
    padding: 2rem;
  }
  .section .section--work .section--work__image--container {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto auto;
  }
  .section .section--contact {
    padding: 2rem;
  }
  .section .section--contact .section--contact--form .section--contact--form--button {
    width: 10rem;
  }
}

@media screen and (min-width: 981px) {
  .section {
    flex-direction: row;
    justify-content: center;
    margin: auto;
    width: 920px;
  }
  .section .section--home {
    width: 100%;
    text-align: start;
  }
  .section .section--home .section--home--container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .section .section--home .section--home--container .section--home--header {
    width: 22rem;
  }
  .section .section--home .section--home--container .section--image {
    width: 16rem;
    height: 20rem;
  }
  .section .section--work {
    margin: auto;
  }
  .section .section--work .section--work__image--container {
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
  }
  .section .section--work .section--work__image--container .section--work__image--item {
    width: auto;
  }
  .section .section--header {
    width: 42rem;
  }
  .section .section--contact .section--contact--form {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
  }
  .section .section--contact .section--contact--form .section--contact--form--item2 {
    grid-column: 1 / span 2;
  }
}
