@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic,400italic");

$heading-color: #333333;
$paragraph-color: #656565;
$bg-color: #ffffff;
$input-bg: #f2f2f2;


* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 2rem;
}

.main--container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto 1fr;
    background-image: url('../src/images/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
}

.wrapper {
    animation: makeVisible 2s forwards;
}

@keyframes makeVisible {
    0% {opacity: 0;}
    20% {opacity: 0;}
    100% {opacity: 1;}
}

.header {
    grid-row: 1;
    display: flex;
    justify-content: center;
    .header--icon {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 4rem;
        height: 6rem;
        .header--icon--image {
            width: 2rem;
            height: 2rem;
            margin: 2rem 0 0 0 ;
            background-color: $bg-color;
            opacity: 0.4;
            transition: 0.3s;
        }
        .header--icon--image:hover {
            opacity: 1;
            transition: 0.3s;
        }
        .header--icon--triangle {
            width: 0;
            height: 0;
            border-left: 1rem solid transparent;
            border-right: 1rem solid transparent;
            border-bottom: 1rem solid $bg-color;
            transition: 0.3s;

        }
        .header--icon--triangle__none {
            border-left: 1rem solid transparent;
            border-right: 1rem solid transparent;
            border-bottom: 0rem solid $bg-color;
            transition: 0.3s;
        }
    }
}

.section {
    grid-row: 2;
    display: flex;
    flex-direction: column;
    background-color: $bg-color;

    .section--home {
        width: 100%;
        height: auto;
        text-align: center;
        .section--home--container {
            display: flex;
            flex-direction: column;
            .section--image {
                width: 100%;
                height: 22rem;
                overflow: hidden;
                position: relative;
                .section--home--image {
                    width: 100%;
                    height: auto;
                    position: absolute;
                    margin: auto;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }
            }
        }
    }

    .section--work {
        width: 100%;
        padding: 1rem;

        .section--work__image--container {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
            gap: 1rem;
            .section--work__image--item {
                width: 100%;
                height: auto;
            }
        }
    }
    .section--header {
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
        h1 {
            font-size: 1.8rem;
            margin: 2rem 0 0 0;
            color: $heading-color;
            font-weight: 400;
        }
        h2 {
            font-size: 1.2rem;
            margin: 1rem 0 1rem 0;
            color: $heading-color;            
            font-weight: 400;
        }
        p {
            margin: 0 0 2rem 0;
            color: $paragraph-color;
        }
    }
    .section--contact {
        width: 100%;
        height: auto;
        padding: 1rem;
        .section--contact--form {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto auto auto auto auto;
            gap: 1rem;
            .section--contact--form--item1 {
                width: 100%;
            }
            .section--contact--form--item2 {
                width: 100%;
            }
            .section--contact--form--button {
                width: 100%;
            }
            input, textarea, button {
                width: 100%;
                font-size: 0.8rem;
                font-weight: 100;
                border: none;
                line-height: 1.5rem;
                padding: 0.625rem;
                background-color: $input-bg;
            }
            button {
                background-color: #222222;
                color: #ffffff;
                transition: 0.2s;
            }
            button:hover {
                background-color: #111111;
                color: #ffffff;
                transition: 0.2s;
            }
        }
    }
}

.red {
    overflow: hidden;
    animation: aaa 0.3s forwards linear
}
@keyframes aaa {
    0% { opacity: 1;}
    100% { opacity: 0;}
}

.blue{
    overflow: hidden;
    animation: bbb 0.4s forwards;

}
@keyframes bbb {
    0% { opacity: 0;}
    100% {opacity: 1;}
}

.footer {
    grid-row: 3;
    display: flex;
    width: 100%;
    justify-content: center;
    height: auto;
    padding: 2rem;
    .footer--paragraph {
        font-size: 0.625rem;
    }
}

@media screen and (max-width: 360px) {
    .header {
        min-width: 320px;
    }
    .section {
        min-width: 320px;
    }
    .footer {
        min-width: 320px;
    }
}

@media screen and (min-width:361px) {
    .section {
        margin: 0 1rem 0 1rem;
    }
}

@media screen and (min-width:737px) {
    * {
        font-size: 20px;
    }
    
    .section {
        margin: 0 3rem 0 3rem;
        .section--home {
            height: auto;
            .section--home--container {
                .section--image {
                    height: 24rem;
                }
            }
        }
        .section--header {
            h1 {
                font-size: 2rem;
            }
            h2 {
                font-size: 1.5rem;
                margin: 2rem 0 1.5rem 0;
            }
            p {
                line-height: 1.5rem;
                margin: 0 0 2rem 0;
            }
        }
        .section--work {
            padding: 2rem;
            .section--work__image--container {
                grid-template-columns: auto auto;
                grid-template-rows: auto auto auto auto auto auto;

            }
        }
        .section--contact {
            padding: 2rem;
            .section--contact--form {
                .section--contact--form--button {
                    width: 10rem;
                }
            }
        }
    }
}

@media screen and (min-width:981px) {
    .section {
        flex-direction: row;
        justify-content: center;
        margin: auto;
        width: 920px;
        .section--home {
            width: 100%;
            text-align: start;
            .section--home--container {
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                height: auto;
                margin: 0 0 0 2rem;
                .section--home--header {
                    width: 22rem;
                }
                .section--image {
                    width: 20rem;
                    height: 18rem;
                }
            }
        }
        .section--work {
            margin: auto;
            .section--work__image--container {
                grid-template-columns: auto auto auto;
                grid-template-rows: auto auto auto auto;
                .section--work__image--item {
                    width: auto;
                }
            }
        }
        .section--header {
            width: 42rem;
        }
        .section--contact {
            .section--contact--form {
                grid-template-columns: auto auto;
                grid-template-rows: auto auto auto auto;
                .section--contact--form--item2 {
                    grid-column: 1 / span 2;
                }
            }
        }
    }
}